$colors:(
    fondoDurazno: #EC8F5E ,   
    fondoCrema: #F4DFB6,
    fondoAmarillo: #F1EB90,
    fondoDuraznoClaro: #F3B664
);

// $font-size:(
//     xs: 1rem,
//     s :1.25rem,
//     md: 1.5rem,
//     lg: 2.5rem
// )

$font-size:(    
    h3:1.875rem,
    h2 :2.1875rem ,
    h1: 3.125rem
)